/*---Typography---*/
$abril: 'Abril Fatface', cursive;

/*---Colors---*/
$buttonColor: rgba(255,215,0,0.6);
$shakeButton: rgba(255,215,0,0.7);
$buttonBorderStyle: 2px solid rgba(0,0,0,0.7);
$buttonRadius: 5px;
$displayColor: white;
$imageRadius: 3px;