body {
	margin:0;
	min-height: 1200px;
	background-image: url(../images/cocktailbackground.jpg);	
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: 'Abril Fatface', cursive;
}

main {
	margin-top: 20px;
}

.hero {
	background-color: white;
	opacity: 0.85;
	height: 180px;
	padding-top: 25px;
}

#moodButton {
	background-color: rgba(255,215,0,0.6);
	height: 55px;
	border-radius: 5px;
	border:1px solid black;
	margin: 5px 0 40px 0;
	font-size: 1.9em;
	font-weight: bold;
}

h1 {
	text-align: center;
	font-size: 5.2em;
	font-weight: bold;
}

h2 {
	color: white;
	text-align: center;
	font-size: 2.2em;
	margin-bottom: 50px;
}

input {
	height: 40px;
	border-radius: 5px;
}

.shakebutton {
	background-color: rgba(255,215,0,0.7);
	height: 40px;
	border-radius: 5px;
	border:1px solid black;
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 3px;
}

.displayCocktail {
	background: white;
	opacity:0.85;
}

.drinkThumb {
	height: 250px;
	weight: 200px;
}

section {
	margin-top: 280px;
	height: 180px;
	background: white;
	opacity:0.85;
}

h3 {
	font-size: 2.2em;
	text-align: center;
	font-weight: bold;
}

.displayCocktail {
	padding: 25px 0 25px 0;
}
