body {
	margin:0;
	height: 1200px;
	background-image: url(../images/cocktailbakground.jpg);	
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.hero {
	background-color: white;
	opacity: 0.85;
	height: 180px;
	padding-top: 25px;
}

#moodButton {
	background-color: rgba(255,215,0,0.6);
	height: 45px;
	border-radius: 5px;
	border:1px solid black;
	margin-top: 5px;
	font-size: 1.4em;
	font-weight: bold;

}

h1 {
	text-align: center;
	font-size: 5.2em;
}

h2 {
	color: white;
	text-align: center;
	font-size: 2.2em;
}

#cocktailInfo {
	background: white;
	opacity:0.85;
}